body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fceceb;
  margin: 0;
}

h3 {
  font-size: 3rem;
  padding-bottom: 2%;
  color: #203F96;
  text-decoration: underline;
}

#title {
  background-color: #E07D78;
}

.img-of-me {
  width: 165%;
  height: 80%;
}

.col-lg-6 {
  height: 100%;
}

.row {
  padding: 0;
}

/* Navigation Bar */
.navbar {
  padding: 0.5rem 2rem 0.5rem;
}

.navbar-custom {
  background-color: #fceceb;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

/* spacing between words*/
.nav-item {
  padding: 0 18px;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-link {
  font-size: 1.2rem;
}

.sticky-top {
  background-color: #E07D78;
}

/*styling for name +bio*/
.my-name {
  font-family: 'Sacramento', cursive;
  line-height: 1.5;
  text-align: center;
  font-size: 5.7rem;
  margin: 250px auto 0 auto;
  color: white;
}

.bio {
  font-size: 1.75rem;
  font-weight: bold;
  color: #203F96;
  text-align: center;
  padding-bottom: 10px;
}

.container-fluid {
  padding: 0 0;
}

/* social media buttons */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

ul.social-buttons {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 10%;
}

ul.social-buttons li a {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 35px;
  line-height: 60px;
  color: white;
}

ul.social-buttons li {
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 10%;
}

.brandico-instagram {
  background-color: #3f729b;
}

.brandico-linkedin {
  background-color: #0e76a8;
}

/* animations for social media buttons*/
#animation li a {
  transition: transform 0.5s ease-in-out;
}

#animation li:hover a {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}

/*About*/
#features {
  padding: 4% 6% 7%;
  line-height: 2;
  font-size: 1.21rem;
}

.about-img {
  border-radius: 100%;
  width: 40%;
  float: left;
  margin-right: 20px;
}

.about-sec {
  font-weight: bolder;
}

/*Resume*/
#resume {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  padding: 4% 5% 0% 6%;
  border-bottom: 1px solid lightgrey;
}

.section-title {
  font-weight: bold;
  font-size: 1.43rem;
  color: #E07D78;
}

22

/**************************
* *Experience section
**************************/
.job {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid lightgrey;
}

.job:last-child {
  border-bottom: none;
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.job-company {
  font-weight: bolder;
  line-height: 1.2;
}

/* text for experience*/
.size-resume {
  font-size: 1.05rem;
  line-height: 2;
}

/**************************
* *skills section
**************************/
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 14px;
  font-size: 1.1rem;
  line-height: 2;
}

.skills-container ul {
  margin-left: 0;
  list-style-type: disc;
}

.project-header {
  text-align: left;
}

#projects {
  text-align: center;
  padding: 4% 6% 7%;
}

.btn {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

/************************************
** For art section
************************************/
#art {
  padding: 4% 6% 3%;
}

.contact-header {
  text-align: left;
}

#contact {
  padding: 4% 6% 17%;
}

/****************
* CONTACT
*****************/
.center {
  margin: auto;
}

.form {
  width: 75%;
  height: 75%;
  background: #fceceb;
  position: relative
}

input {
  width: 100%;
  padding: 10px;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid #bebed2
}

input:focus {
  border-bottom: 2px solid #78788c
}

.email :before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a
}

button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
}

button:hover {
  background: #78788c;
  color: #fff
}

/***********
* *footer
***********/
.bottom-container {
  background-color: #ebb5b2;
  padding: 2% 0 1%;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  padding: 1% 38.5%;
}

.footer-link {
  color: #C9706C;
  font-family: 'Montserrat', sans-serif;
  padding: 0 20%;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.art-description {
  text-align: center;
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }

  /* this accounts for spacing across device*/
  @media only screen and (max-width: 760px) {
    #resume {
      grid-template-columns: 1fr;
    }

    .job-title-container {
      flex-direction: column;
    }

    .skills-container {
      grid-template-columns: 1fr 1fr;
    }
